html { height: 100%}
body, html, #root {  
  background-color: rgb(96, 224, 139);
  font-family: 'Quicksand';
  overflow-x: hidden;
  min-height: 100vh;
}

.breakdown-bubble-container {
  margin-left: auto;
  margin-right: auto;
}

.breakdown-bubble-container .dialogue {
  width: 90%;
}

.pie-container {
  height: 50vh;
  width: 100%;
}

.breakdown-bubble-container .dialogue-character-wrap {
  left:10%;
}

.MuiGrid-root.resultsContainer {
  padding: 25px 10px 10px;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.swipeable {
  min-height: 100vh;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.corner-icon {
  position: absolute;
  top: -25px;
  right: 10px;
  z-index:3;
}